{% extends '_template.html.twig' %}

{% block title %}{{ event.name }}{% endblock %}

{% block content %}
    <div class="section">
        <h1 class="title">{{ event.name }}</h1>

        {% include 'includes/flash.html.twig' %}

        <p><strong>Participants:</strong> {{ event.attend|length }}</p>
        <p><strong>Description:</strong></p>
        <p>{{ event.description }}</p>
        <p><strong>Lieu:</strong></p>
        <p>{{ event.location }}</p>
        <p><strong>Date:</strong></p>
        <p>{{ event.date|date('m/d/Y') }}</p>
        <p><strong>Organisateur:</strong> {{ event.author.pseudo }}</p>
        <br>

        {% if is_granted("ROLE_USER") %}
            {{ form_start(attend_form) }}

            {% if event.attend.contains(app.user) %}
                <button type="submit" class="button is-primary">Ne plus partticiper</button>
            {% else %}
                <button type="submit" class="button is-primary">Participer</button>
            {% endif %}

            {{ form_end(attend_form) }}
        {% endif %}
    </div>
    <div class="section">
        <h2 class="subtitle">Inviter à cet événement</h2>
        <p>Vous pouvez envoyer une invitation en indiquant l'email de la personne concernée ci-dessous</p>
        {{ form_start(event_invitation_form) }}

            {{ form_row(event_invitation_form.email) }}

            <button type="submit" class="button is-primary">Envoyer</button>

        {{ form_end(event_invitation_form) }}
    </div>

{% endblock %}